<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="admin/admin_panel :: headerfiles">
    <meta charset="UTF-8">
    <title>AP: ADD Category</title>
</head>
<body>
<nav th:replace="./index :: navigation"></nav>
<br>
<div class="container p-3">
    <h1> Add new category</h1>
    <hr>
    <form action="#" th:action="@{/admin/categories}" th:object="${category}" th:method="${method}">
        <input th:if="${category.getId() != null}" type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}" placeholder="Category name" class="form-control mb-4 col-4">
        <span class="error-validation" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span><br/>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="active" th:checked="${active == true} ? 'checked' : 'false'">
            <label class="form-check-label" for="flexSwitchCheckDefault">Aktywna kategoria?</label>
        </div>

        <button type="submit" class="btn btn-info col-2">SAVE</button>
    </form>
</div>
</body>
</html>